// design tokens

/*----------------------------
 colors
----------------------------*/
$red: hsl(0, 100%, 74%); 
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%); 
$white: hsl(0, 0%, 100%);
$gray-blue: hsl(246, 25%, 77%);

/*----------------------------
typography
----------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
}

