// design tokens

/*----------------------------
 colors
----------------------------*/


/*----------------------------
typography
----------------------------*/
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

